.garage-wrapper {
    display: flex;
}

.background-garage {
    background-color: white;
    background-image: url("../img/logoform.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 8%;
    position: relative;
    display: flex;
    margin: auto;
    width: 50%;
    z-index: -10;
}

.titulo-taller {
    display: flex;
    position: absolute;
    font-family: "Racing Sans One", sans-serif;
    text-shadow: 5px 5px 15px rgb(255, 115, 0);
    transform: translate(6rem, 0.7em);
    margin-top: 2rem;
}

.contenedor-datos-taller {
    display: flex;
    flex-direction: column;
    transform: translate(2rem);
    text-shadow: 5px 5px 15px rgb(255, 115, 0);
    font-family: "Racing Sans One", sans-serif;
    position: absolute;
    z-index: 10;
    padding: 5rem;
    margin-top: 2rem;
    height: 90%;
    justify-content: center;
    gap: 55px;
}

.contenedor-cliente {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 400px;
}

.contenedor-motocicleta {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 400px;
}

input {
    background-color: transparent;
    box-shadow: 5px 5px 15px rgb(255, 115, 0);
    font-weight: bold;
    width: 300px;
}

li {
    display: flex;
    margin-bottom: 15px;
    justify-content: end;
    gap: 15px;
}

.boton-guardar-datos {
    position: absolute;
    bottom: 7%;
    left: 90%;
    transform: translate(-13.5em, -1.3rem);
    display: flex;
    align-items: center;
    width: 300px;
    height: 45px;
    border-radius: 40px;
    background-color: white;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-family: "Racing Sans One", sans-serif;
    color: grey;
    justify-content: center;
    box-shadow: 10px 10px 1rem rgb(255, 115, 0);
}

.boton-guardar-datos:hover {
    color: rgb(255, 115, 0);
}

.contenedor-tareas-taller {
    display: flex;
    transform: translate(38rem);
    position: absolute;
    height: 90%;
    width: 35%;
    padding: 5rem;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 10px 10px 1rem rgb(255, 115, 0);
    backdrop-filter: blur(3px);
}

.titulo-orden-taller {
    display: flex;
    position: absolute;
    transform: translate(43rem, 1.5em);
    font-family: "Racing Sans One", sans-serif;
    text-shadow: 5px 5px 15px rgb(255, 115, 0);
    z-index: 10;
}

.contenedor-agregar-tareas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.entrada-tareas {
    width: 370px;
    box-shadow: none;
}

.boton-agregar {
    display: flex;
    align-items: center;
    width: 120px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(255, 115, 0);
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    font-family: "Racing Sans One", sans-serif;
    color: white;
    justify-content: center;
}

.boton-agregar:hover {
    color: black;
}

.boton-enviar {
    position: absolute;
    bottom: 7%;
    left: 90%;
    transform: translate(-4rem, 1.5em);
    display: flex;
    align-items: center;
    width: 70px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(255, 115, 0);
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    font-family: "Racing Sans One", sans-serif;
    color: white;
    justify-content: center;
}

.boton-enviar:hover {
    color: rgb(255, 115, 0);
}

.contenedor-lista-motos {
    display: flex;
    transform: translate(84rem);
    position: absolute;
    height: 90%;
    width: 25%;
    padding: 5rem;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 10px 10px 1rem rgb(255, 115, 0);
    backdrop-filter: blur(3px);
}

.titulo-listado {
    display: flex;
    position: absolute;
    transform: translate(0.2rem, 3.1em);
    font-family: "Racing Sans One", sans-serif;
    text-shadow: 5px 5px 15px rgb(255, 115, 0);
    z-index: -10;
}

.boton-volver-taller {
    position: absolute;
    bottom: 7%;
    left: 90%;
    transform: translate(-92rem, -0.9em);
    display: flex;
    align-items: center;
    width: 100px;
    height: 45px;
    border-radius: 40px;
    background-color: white;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-family: "Racing Sans One", sans-serif;
    color: grey;
    justify-content: center;
    box-shadow: 10px 10px 1rem rgb(255, 115, 0);
}

.boton-volver-recepcion:hover {
    color: rgb(255, 115, 0);
}
